<%= form_for @ebook, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cover, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :cover, :class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :review, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :review, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
 <div class="control-group">

    <%= f.label :pdfs, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :pdfs, :class => 'file_field' %>
    </div>
  </div>
 <div class="control-group">
    <%= f.label :paid, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :paid, :class => 'boolean_field' %>
    </div>
  </div>


   <div class="control-group">
    <%= f.label :cost, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cost, :class => 'number_field' %>
    </div>
  </div>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ebooks_path, :class => 'btn' %>

  </div>
<% end %>
