<div class="page-header">
  <h1>Welcome to Pages</h1>
</div>

<dl class="dl-horizontal">

<% @ebooks.each do |ebook| %>
<dd><%= ebook.title %></dd>
<dd><%= ebook.author %></dd>
<dd><%= ebook.review %></dd>
<dd><%=link_to 'Download', ebook_path(ebook)%></dd>
<dd></dd>
<%end%>
</dl>
