<ul class ="thumbnails">

<%- model_class = Ebook -%>
 <% @ebooks.each do |ebook| %>
      <li>
      <%= link_to image_tag(ebook.cover.url(:medium)),ebook_path(ebook) %>
       <td><%= link_to ebook.title, :controller => "ebooks", :action => "index", :search => ebook.title %></td>
        <td><%= link_to ebook.author, :controller => "ebooks", :action => "index", :search => ebook.author %></td>

      </li>
    <% end %>
    <%= will_paginate @ebooks %>
  </ul>

