
<ul class ="thumbnails">

<%- model_class = Ebook -%>
 <% @ebooks.each do |ebook| %>
      <li>
      <%= link_to image_tag(ebook.cover.url(:medium)),ebook_path(ebook) %>
       <td><%= link_to ebook.title, :controller => "ebooks", :action => "index", :search => ebook.title %></td>
        <td><%= link_to ebook.author, :controller => "ebooks", :action => "index", :search => ebook.author %></td>

      </li>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ebook_path(ebook), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ebook_path(ebook),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
    <% end %>
    <%= will_paginate @ebooks %>
  </ul>



