<%- model_class = Ebook -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dd><%= image_tag @ebook.cover.url(:medium)%></dd>
</dl>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @ebook.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
  <dd><%= @ebook.author %></dd>
  <dt><strong><%= model_class.human_attribute_name(:review) %>:</strong></dt>
  <dd><%= @ebook.review %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @ebook.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= link_to @ebook.user.nick, my_ebooks_path %></dd>
  <dd><%= link_to 'Download', download_pdf_ebook_path%></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ebooks_path, :class => 'btn'  %>
  
</div>
