<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pages" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Pages', home_index_path, :class =>"brand" %>
          <div class="container-fluid nav-collapse"> 
            <ul style="float: right" class="nav">
               <li><%= link_to "Ebooks", ebooks_path %></li>
           <li><%= link_to "Top Free", topfree_ebooks_path %></li>
           <li><%= link_to "Top Paid", toppaid_ebooks_path %></li>
           <% if user_signed_in? %>
             
<li><%= link_to "New", new_ebook_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
            
            
            <%else%>
            <li><%= link_to "Sign up",new_user_registration_path%></li>

            <%end%>
            
            <li><%= form_tag ebooks_path, :method => 'get' do %></li>

    <li><%= text_field_tag :search, params[:search] %></li>
    <li><%= submit_tag "Search"%></li>



<%end%>

          </div><!--/.nav-collapse -->

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            
              <li class="nav-header">Profile</li>
              <li><%= link_to "Recent Free", lastfree_ebooks_path %></li>
           <li><%= link_to "Recent Paid", lastpaid_ebooks_path %></li>
              <% if user_signed_in? %>
              <li><%= link_to "Uncommited", inactive_ebooks_path %></li>
              <li><%= link_to "My Ebooks", my_ebooks_path %></li>
              <li><%=link_to 'Account', edit_user_registration_path%></li>
              
              <%else%>

              <li><%= link_to "Login", new_user_session_path %></li>
              <%end%>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
